<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoApp2</title>
    <link rel="stylesheet" type="" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <style>
        /* body {
            background-color: orange
        } */
    </style>
</head>

<body ng-app="ToDo" ng-controller="myController">
    <div class=container>
        <form ng-submit="addtodo()" name="frm" form-group>
            <input type="text" ng-model="newTodo" name="newToDo" id="input" placeholder="Your Task...">
            <button ng-disabled="$frm.invalid" class="btnAdd">Add Task</button>


        </form>
        <button ng-click="clearCompleted()" class="btnComplete">Clear Completed</button>
        <hr>
        <div class="Tasks">
            <ol>
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done">
                    <span ng-class="{'done':todo.done}">{{todo.tittle}}</span>
                </li>
            </ol>
        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="script.js" defer></script>
</body>

</html>